<!DOCTYPE html>
<html lang="en-US">
{include file='front/header.html'}
<body>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
       {include file='front/navigation.html'}

            <!-- CONTENT -->
            <div id="content"><div class="container">
    <div id="main">
        <div class="row">
        	{if $shopDetail != null}
	            <div class="span9">
	                <h1 class="page-header">{$shopDetail.name}</h1>
	
	                <div class="carousel property">
	                    <div class="preview">
	                        <img src="{$shopDetail.face}" alt="" width="870">
	                    </div><!-- /.preview -->
	
	                    <div class="content">
	
	                        <a class="carousel-prev" href="#">Previous</a>
	                        <a class="carousel-next" href="#">Next</a>
	                        <ul>
	                        	{foreach $shopPics as $sp}
		                            <li>
		                                <img src="{$sp.pic}" alt="">
		                            </li>
	                            {/foreach}
	                        </ul>
	                    </div>
	                    <!-- /.content -->
	                </div>
	                <!-- /.carousel -->
	
	                <div class="property-detail">
	                    <p><strong>{$shopDetail.intro}</strong></p>
	
	                    <h2>地图</h2>
	
	                    <div id="property-map"></div><!-- /#property-map -->
	                </div>
	
	            </div>
	        {/if}
	        {if $jtDetail != null}
	            <div class="span9">
	                <h1 class="page-header">{$jtDetail.name}</h1>
	
	                <div class="carousel property">
	                    <div class="preview">
	                        <img src="{$jtDetail.face}" alt="" width="870">
	                    </div><!-- /.preview -->
	
	                    <div class="content">
	
	                        <a class="carousel-prev" href="#">Previous</a>
	                        <a class="carousel-next" href="#">Next</a>
	                        <ul>
	                        	{foreach $jtPics as $sp}
		                            <li>
		                                <img src="{$sp.pic}" alt="">
		                            </li>
	                            {/foreach}
	                        </ul>
	                    </div>
	                    <!-- /.content -->
	                </div>
	                <!-- /.carousel -->
	
	                <div class="property-detail">
	                    <p><strong>{$jtDetail.intro}</strong></p>
	                </div>
	
	            </div>
	        {/if}
	        {if $lyitemDetail != null}
	            <div class="span9">
	                <h1 class="page-header">{$lyitemDetail.name}</h1>
	
	                <div class="carousel property">
	                    <div class="preview">
	                        <img src="{$lyitemDetail.face}" alt="" width="870">
	                    </div><!-- /.preview -->
	
	                    <div class="content">
	
	                        <a class="carousel-prev" href="#">Previous</a>
	                        <a class="carousel-next" href="#">Next</a>
	                        <ul>
	                        	{foreach $lyitemPics as $sp}
		                            <li>
		                                <img src="{$sp.pic}" alt="">
		                            </li>
	                            {/foreach}
	                        </ul>
	                    </div>
	                    <!-- /.content -->
	                </div>
	                <!-- /.carousel -->
	
	                <div class="property-detail">
	                    <p><strong>{$lyitemDetail.intro}</strong></p>
	                </div>
	
	            </div>
	        {/if}
	        {if $lycityDetail != null}
	            <div class="span9">
	                <h1 class="page-header">{$lycityDetail.name}</h1>
	
	                <div class="carousel property">
	                    <div class="preview">
	                        <img src="{$lycityDetail.face}" alt="" width="870">
	                    </div><!-- /.preview -->
	
	                    <div class="content">
	
	                        <a class="carousel-prev" href="#">Previous</a>
	                        <a class="carousel-next" href="#">Next</a>
	                        <ul>
	                        	{foreach $lycityPics as $sp}
		                            <li>
		                                <img src="{$sp.pic}" alt="">
		                            </li>
	                            {/foreach}
	                        </ul>
	                    </div>
	                    <!-- /.content -->
	                </div>
	                <!-- /.carousel -->
	
	                <div class="property-detail">
	                    <p><strong>{$lycityDetail.intro}</strong></p>
	                </div>
	
	            </div>
	        {/if}
            
            {if $houseDetail != null}
	            <div class="span9">
	                <h1 class="page-header">{$houseDetail.name}</h1>
	
	                <div class="carousel property">
	                    <div class="preview">
	                        <img src="{$houseDetail.face}" alt="" width="870">
	                    </div><!-- /.preview -->
	
	                    <div class="content">
	
	                        <a class="carousel-prev" href="#">Previous</a>
	                        <a class="carousel-next" href="#">Next</a>
	                        <ul>
	                            {foreach $housePics as $hp}
		                            <li>
		                                <img src="{$hp.pic}" alt="">
		                            </li>
	                            {/foreach}
	                        </ul>
	                    </div>
	                    <!-- /.content -->
	                </div>
	                <!-- /.carousel -->
	
	                <div class="property-detail">
	                    <div class="pull-left overview">
	                        <div class="row">
	                            <div class="span3">
	                                <h2>总览</h2>
	
	                                <table>
	                                	<tr>
	                                        <th>房产地址:</th>
	                                        <td>{$houseDetail.name}</td>
	                                    </tr>
	                                    <tr>
	                                        <th>价格:</th>
	                                        <td>{$houseDetail.price}</td>
	                                    </tr>
	                                    <tr>
	                                        <th>利率:</th>
	                                        <td>{$houseDetail.rate}</td>
	                                    </tr>
	                                    <tr>
	                                        <th>房产面积:</th>
	                                        <td>{$houseDetail.area1}</td>
	                                    </tr>
	                                    <tr>
	                                        <th>建筑面积:</th>
	                                        <td>{$houseDetail.area2}</td>
	                                    </tr>
	                                </table>
	                            </div>
	                            <!-- /.span2 -->
	                        </div>
	                        <!-- /.row -->
	                    </div>
	
	                    <p><strong>{$houseDetail.intro}</strong></p>
	
	                </div>
	
	            </div>
	        {/if}
            
            
            
            <div class="sidebar span3">
                <div class="widget properties last">
    {include file='front/ads.html'}
</div><!-- /.properties -->
            </div>
        </div>
    </div>
</div>
    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

{include file='front/footer.html'}
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

{include file='front/scripter.html'}
</body>
</html>