<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">

    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="public/resource/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="public/resource/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="public/resource/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="public/resource/libraries/chosen/chosen.css" type="text/css">
    <link rel="stylesheet" href="public/resource/libraries/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">
    <link rel="stylesheet" href="public/resource/libraries/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="public/resource/css/realia-blue.css" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">
	<link rel="stylesheet" href="public/assets/css/datepicker.css" />
    <title>{$web_title}</title>
</head>
