<!DOCTYPE html>
<html lang="en-US">
{include file='front/header.html'}
<body>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
          {include file='front/navigation.html'}

            <!-- CONTENT -->
            <div id="content">
<div class="container">
    <div>
        <div id="main">
            <h1 class="page-header">Registration</h1>
            <div class="login-register">
    <div class="row">
        <div class="span4">
            <ul class="tabs nav nav-tabs">
                <li><a href="javascript:;" data='#login'>Login</a></li>
                <li class="active"><a href="javascript:;" data="#register">Register</a></li>
            </ul>
            <!-- /.nav -->

            <div class="tab-content">
                <div class="tab-pane" id="login">
                    <form method="post" action="index.php?a=user&m=login" id="login-form">
                        <div class="control-group">
                            <label class="control-label" for="inputLoginLogin">
                               	用户名
                                <span class="form-required" title="必填项.">*</span>
                            </label>

                            <div class="controls">
                                <input type="text" id="username" name="username">
                            </div>
                            <!-- /.controls -->
                        </div>
                        <!-- /.control-group -->

                        <div class="control-group">
                            <label class="control-label" for="inputLoginPassword">
                               	 密码
                                <span class="form-required" title="必填项.">*</span>
                            </label>

                            <div class="controls">
                                <input type="password" id="pwd" name="pwd">
                            </div>
                            <!-- /.controls -->
                        </div>
                        <!-- /.control-group -->

                        <div class="form-actions">
                            <input type="submit" value="Login" class="btn btn-primary arrow-right">
                        </div>
                        <!-- /.form-actions -->
                    </form>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane active" id="register">
                    <form method="post" action="index.php?a=user&m=reg" id = "registration-form">
				                <div class="control-group">
				                    <label class="control-label" for="username">
				                        	用户名
				                        <span class="form-required" title="必填项.">*</span>
				                    </label>
				
				                    <div class="controls">
				                        <input type="text" id="username" name="params[username]">
				                    </div>
				                    <!-- /.controls -->
				                </div>
				                <!-- /.control-group -->
				                
				                <div class="control-group">
				                    <label class="control-label" for="pwd">
				                        	密码
				                        <span class="form-required" title="必填项.">*</span>
				                    </label>
				
				                    <div class="controls">
				                        <input type="password" id="pwd" name="pwd">
				                    </div>
				                    <!-- /.controls -->
				                </div>
				                <!-- /.control-group -->
				                
				                <div class="control-group">
				                    <label class="control-label" for="confirmpwd">
				                        	确认密码
				                        <span class="form-required" title="必填项.">*</span>
				                    </label>
				
				                    <div class="controls">
				                        <input type="password" id="confirmpwd" name="confirmpwd">
				                    </div>
				                    <!-- /.controls -->
				                </div>
				                <!-- /.control-group -->
				
				                <div class="control-group">
				                    <label class="control-label" for="email">
				                        E-mail
				                        <span class="form-required" title="必填项.">*</span>
				                    </label>
				
				                    <div class="controls">
				                        <input type="text" id="email" name="params[email]">
				                    </div>
				                    <!-- /.controls -->
				                </div>
				                <!-- /.control-group -->
				
				                <div class="form-actions">
				                    <input type="submit" value="Register" class="btn btn-primary arrow-right">
				                </div>
				                <!-- /.form-actions -->
				            </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.span4-->

        <div class="span8">
            <h2 class="page-header">Why to work with us?</h2>

            <div class="images row">
                <div class="item span2">
                    <img src="assets/img/icons/circle-dollar.png" alt="">

                    <h3>Cheap services</h3>
                </div>
                <!-- /.item -->
                <div class="item span2">
                    <img src="assets/img/icons/circle-search.png" alt="">

                    <h3>Easy to find you</h3>
                </div>
                <!-- /.item -->
                <div class="item span2">
                    <img src="assets/img/icons/circle-global.png" alt="">

                    <h3>Act global or local</h3>
                </div>
                <!-- /.item -->
                <div class="item span2">
                    <img src="assets/img/icons/circle-package.png" alt="">

                    <h3>All in one package</h3>
                </div>
                <!-- /.item -->
            </div>
            <!-- /.row -->

            <hr class="dotted">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper libero sed ante auctor vel
                gravida nunc placerat. Suspendisse molestie posuere sem, in viverra dolor venenatis sit amet. Aliquam
                gravida nibh quis justo pulvinar luctus. Phasellus a malesuada massa.
            </p>

            <ul class="unstyled dotted">
                <li>
                                        <span class="inner">
                                            <strong>Lorem ipsum dolor sit amet</strong><br>
                                                Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                                                accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                                                arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                                                ligula dolor
                                        </span>
                </li>

                <li>
                                        <span class="inner">
                                            <strong>Lorem ipsum dolor sit amet</strong><br>
                                                Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                                                accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                                                arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                                                ligula dolor
                                        </span>
                </li>

                <li>
                                        <span class="inner">
                                            <strong>Lorem ipsum dolor sit amet</strong><br>
                                                Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                                                accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                                                arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                                                ligula dolor
                                        </span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.login-register -->        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

{include file='front/footer.html'}
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->



{include file='front/scripter.html'}
<script>
	var c = '{$smarty.get.m}';
</script>
{literal}
<script>

	$(function(){
		$('ul.tabs>li>a').click(function(){
			var target = $(this).attr('data');
			$('ul.tabs>li>a').each(function(){
				$(this).parent().removeClass('active');
			});
			$(this).parent().addClass('active');
			$('.tab-pane').removeClass('active');
			$(target).addClass('active');
		});
		if(c == 'showregistration'){
			$($('ul.tabs>li>a')[1]).click();
		}else {
			$($('ul.tabs>li>a')[0]).click();
		}
	});
	
</script>
{/literal}
</body>
</html>