<!--  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script> -->
<script type="text/javascript" src="public/resource/js/jquery.js"></script>
<script type="text/javascript" src="public/resource/js/jquery.ezmark.js"></script>
<script type="text/javascript" src="public/resource/js/jquery.currency.js"></script>
<script type="text/javascript" src="public/resource/js/jquery.cookie.js"></script>
<script type="text/javascript" src="public/resource/js/retina.js"></script>
<script type="text/javascript" src="public/resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src="public/resource/js/carousel.js"></script>
<!-- 
<script type="text/javascript" src="public/resource/js/gmap3.min.js"></script>

<script type="text/javascript" src="public/resource/js/gmap3.infobox.min.js"></script>
 -->
<script type="text/javascript" src="public/resource/libraries/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="public/resource/libraries/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="public/resource/libraries/iosslider/_src/jquery.iosslider.min.js"></script>
<script type="text/javascript" src="public/resource/libraries/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="public/assets/js/jquery.form.js"></script>
<script src="public/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="public/assets/js/date-time/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript" src="public/resource/js/realia.js"></script>
<script>
$(function(){
	$('#registration-form').submit(function(){
		var option = {
			beforeSubmit : function(){
				if(!$('input[id=username]').val()){
					alert('用户名不能为空');
					return false;
				}else if(!$('input[id=pwd]').val()){
					alert('密码不能为空');
					return false;
				}else if(!$('input[id=email]').val()){
					alert('邮箱不能为空');
					return false;
				}
				return true;
			},
			dataType : 'json',
			success : function(data){
				if(data.status == '1'){
					alert('注册成功');
					window.location = 'index.php';
				}else {
					alert(data.message);
				}
			}
		}
		$(this).ajaxSubmit(option);
		return false;
	});
});
</script>

<script>
$(function(){
	$('#login-form').submit(function(){
		var option = {
			beforeSubmit : function(){
				if(!$('input[id=username]').val()){
					alert('用户名不能为空');
					return false;
				}else if(!$('input[id=pwd]').val()){
					alert('密码不能为空');
					return false;
				}
				return true;
			},
			dataType : 'json',
			success : function(data){
				if(data.status == '1'){
					window.location = 'index.php';
				}else {
					alert(data.message);
				}
			}
		}
		$(this).ajaxSubmit(option);
		return false;
	});
});
</script>

<script>
$(function(){
	$('#order-form').submit(function(){
		var option = {
			beforeSubmit : function(){
				if(!$('input[id=pnums]').val()){
					alert('预约人数不能为空');
					return false;
				}else if(!$('input[id=odate]').val()){
					alert('预订时间不能为空');
					return false;
				}else if(!$('input[id=phone]').val()){
					alert('预订电话不能为空');
					return false;
				}
				return true;
			},
			dataType : 'json',
			success : function(data){
				if(data.status == '1'){
					alert('预订成功');
					window.location = 'index.php';
				}else {
					alert(data.message);
				}
			}
		}
		$(this).ajaxSubmit(option);
		return false;
	});
});
</script>

<script>
$(function(){
	$('#message-form').submit(function(){
		var option = {
			beforeSubmit : function(){
				if(!$('input[id=name]').val()){
					alert('姓名不能为空');
					return false;
				}else if(!$('input[id=email]').val()){
					alert('邮箱不能为空');
					return false;
				}else if(!$('textarea[id=message]').val()){
					alert('留言不能为空');
					return false;
				}
				return true;
			},
			dataType : 'json',
			success : function(data){
				if(data.status == '1'){
					alert('留言成功');
					//window.location = 'index.php';
				}else {
					alert(data.message);
				}
			}
		}
		$(this).ajaxSubmit(option);
		return false;
	});
	$('#cityId').change(function(){
		var id = $(this).val();
		window.location = "index.php?a=list&m=lycity&cityId="+id;
	});
	$('#search').click(function(){
		var keywords = $('#keyword').val();
		if(keywords){
			window.location = "index.php?a=list&m=search&keywords="+keywords;
		}
	});
});
</script>

