.simditor
{
	border:none;
}



.entry-content
{
	margin-top: 0px;
}
.icon-ic_zhihu_logo:before {
    content: "β";
}

.post-view .entry-controls {
    margin: 40px 0;
    text-align: left;
}

.home .top h1 {
    background: url(../images/logo.png) center no-repeat;
    background-size: 100px;
}

.home .column-card-item .description {
    line-height: 21px;
    height: 42px;
    margin-bottom: 14px;
    word-break: break-all;
    overflow: hidden;
}

.home .main-container {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

/*.main-container{
    padding-top: 52px;
}
*/
.home .main-container
{

    /*padding-top: 46px;*/

}



.grid
{
    color: gray;
    box-sizing: border-box;
    box-shadow: 0 8px 18px rgba(0,0,0,.06);
    border-radius: 4px;
}

.main_page  .tag
{
    float:left;
}

.find_nav {
    z-index: 400;
}

.simditor .simditor-wrapper.toolbar-floating .simditor-toolbar {

    margin-top: 46px;

}

.tag_index {
    color: #21B890;
    overflow: inherit;
}

.tag_index {
    color: #21B890;
}

.tag_index a {
    vertical-align: top;
}

.tag_index a {
    color: #21B890 !important;
    margin: 0 8px 10px 0;
}

.tag_index .icon-tag {
    font-size: small;
}

.entry-summary
{
    padding-bottom: 20px;
}

.mod-tit {
    font-size: 16px;

    padding-bottom: 9px;
    border-bottom: 1px solid #E5E5E5;
    /*margin-bottom: 25px;*/
}

.mod-tit h3 {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 1px;

}

.real_time_intelligence.pad_inner
{
    margin-top: 10px;
}
.pad_inner {
    font-size: .65rem;
    margin-bottom: 2.5rem;
}
.tag_index a
{
    vertical-align: top;
}

.home section {
    padding-top:5px;
}
#header-holder {
    height: 105px;
}

body{
    font-size:16px;
}

/*简书*/

.like-group {
    padding: 13px 0 15px;
    font-size: 0;
    border: 1px solid #ea6f5a;
    border-radius: 40px;
}

.like-group .btn-like {
    font-size: 19px;
    display: inline-block;
}

.like-group .btn-like a {
    color: #ea6f5a;
    margin: 14px 15px 14px 30px;
}

.like-group .modal-wrap a {
    color: #ea6f5a;
    padding: 14px 30px 14px 17px;
}

.like-group .modal-wrap {
    font-size: 18px;
    border-left: 1px solid rgba(236,97,73,.4);
    display: inline-block;
}

.like-group .btn-like {
    font-size: 19px;
    display: inline-block;
}



.jianshu_btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.like-group {
    padding: 13px 0 15px;
    font-size: 0;
    border: 1px solid #ea6f5a;
    border-radius: 40px;
}

/*end 简书*/
/*钛媒体*/


.tag .unfollow {
    display: none;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 12px;
}

.tag .act {
    display: inline-block;
    color: gray;
    cursor: pointer;
    width: 15px;
    text-align: center;
    padding-right: 3px;
}



.tag .gap-line {
    color: gray;
    position: relative;
    top: -1px;
}

.tag.current .tag-a{
    color: #fff;
}

.tag .tag-a {
    display: inline-block;
    padding: 3px 5px 3px 10px;
    color: gray;
    font-size: 14px;
    /*font-size: 1.4rem;*/
}

.tag {
    display: inline-block;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0 7px 10px;
    color: gray;
}

.tag .unfollow {
    display: none;
    font-size: 18px;
    /*font-size: 1.8rem;*/
    line-height: 12px;
}

.tag.current {
    background-color: #21B890;
    border-color: #21B890;
}

.tag.current .follow {
    display: none;
}

.tag.current .unfollow {
    display: inline-block;
}

.tag.current .tag-a, .tag.current .gap-line, .tag.current .act {
    color: #fff;
}

.tag.current a{
    color: #fff;
}

.tag.current .act {
    color: #fff;
}
.tag.current .tag-a{
    color: #fff;
}
/*end 钛媒体*/