		{literal}
		<script src="public/assets/js/jquery.min.js"></script>

		<script src="public/assets/js/bootstrap.min.js"></script>
		<script src="public/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="public/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="public/assets/js/jquery.ui.touch-punch.min.js"></script>

		<!-- ace scripts -->

		<script src="public/assets/js/ace-elements.min.js"></script>
		<script src="public/assets/js/ace.min.js"></script>
		<script src="public/assets/js/jquery.form.js"></script>
		<script src="public/assets/js/jquery.dataTables.min.js"></script>
		<script src="public/assets/js/jquery.dataTables.bootstrap.js"></script>
		<script src="public/assets/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="public/assets/js/date-time/bootstrap-timepicker.min.js"></script>
		<script src="public/assets/js/date-time/bootstrap-datepicker.zh-CN.js"></script>
		<script src="public/assets/js/ajaxfileupload.js"></script>
		<script src="public/assets/js/bean.js"></script>
		<script src="ueditor/ueditor.config.js"></script>
		<script src="ueditor/ueditor.all.js"></script>
		<script src="public/assets/js/jquery.multiselect.js"></script>
		<script src="public/assets/js/jquery.multiselect.zh-cn.js"></script>
		<script src="public/assets/js/jquery.colorbox-min.js"></script>
		
		{/literal}