<!DOCTYPE html>
<html>
<!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>链媒体 - 随心写作，自由表达</title>
  <!--<base href="/">-->
  <base href=".">
  <meta name="fragment" content="!">
  <meta name="description" content="知乎专栏">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <!--[if lt IE 9]>
    <script src="https://z1.zhimg.com/components/es5-shim/es5-shim.js"></script>
    <script src="https://z1.zhimg.com/components/html5shiv/dist/html5shiv.js"></script>
  <![endif]-->
  <!--[if lt IE 8]>
    <script src="https://z1.zhimg.com/components/json3/lib/json3.min.js"></script>
  <![endif]-->
  <script>document.documentElement.className += ('ontouchstart' in window) ? ' touch': ' no-touch'</script>
  <link rel="stylesheet" href="./css/main.css">
  <link media="all" rel="stylesheet" type="text/css" href="./plugins/simditor/styles/font-awesome.css" />  
  <link media="all" rel="stylesheet" type="text/css" href="./plugins/simditor/styles/simditor.css" /> 
    <link rel="stylesheet" href="./css/mine.css"> 
</head>
<body ng-app="columnWebApp" ng-controller="AppCtrl" ng-class="pageClass" class="ng-scope page-write">
  <!--[if lt IE 8]>
    <p class="browsehappy">你正在使用一个
      <strong>过时</strong>的浏览器。请
      <a class="link" href="http://browsehappy.com">升级你的浏览器</a>以查看此页面。</p></p>
  <![endif]-->
  <div id="header-holder">
    <!-- ngInclude: navbarTemplateUrl -->
    <div ng-include="navbarTemplateUrl" class="ng-scope">
      <header id="header" class="navbar ng-scope ng-isolate-scope" ng-controller="NavbarCtrl" ui-scroll-back-fixed="" fixed="scrollBackFixedNavbar">
        <div class="navbar-logo-container">
          <a href="https://www.zhihu.com/" target="_blank" class="logo icon-ic_zhihu_logo" aria-label="知乎首页"></a>
        </div>
        <div class="navbar-title-container clearfix show" ng-class="{show: showTitle}" ng-click="handleTitleClick($event)">
          <!-- ngIf: title.img -->
          <div class="titles oneline ng-hide" ng-class="{oneline: !title.subtitle || !title.main}" ng-hide="!title.subtitle &amp;&amp; !title.main">
            <!-- ngIf: title.subtitle --><div class="main-title ng-binding ng-scope" ng-if="title.main" ng-bind-html="title.main">写文章</div>
            <!-- ngIf: title.main --></div>
          <!-- ngIf: title.buttons -->
          <!-- ngIf: extraStatus -->
          <!-- ngIf: extraStatus -->
          <!-- ngIf: status --></div>
        <!-- ngIf: !me.authed() && me.$resolved -->
        <!-- ngIf: me.authed() -->
        <!-- ngInclude: undefined -->
        <ng-include src="&#39;/views/navbar/menu.html&#39;" ng-if="me.authed()" class="ng-scope">
          <div ng-transclude="" class="navbar-menu-container ui-menu-button ng-scope" ng-class="{ true: &#39;open&#39;, false: &#39;close&#39; }[open]" ui-menu-button="" ui-disabled="disableMenu">
            <a href="javascript:;" class="menu-button ng-scope" aria-label="更多选项" id="navbar_menu_btn">
              <i class="icon-ic_nav_more"></i>
            </a>
            <menu class="menu navbar-menu ng-scope" id="navbar_menu">
              <!-- ngRepeat: column in me.columns -->
              <!-- ngIf: me.columns.length -->
              <!-- ngIf: inWrite && draftId -->
              <a class="menu-item" href="https://zhuanlan.zhihu.com/drafts" tabindex="0">草稿</a>
              <a class="menu-item" href="https://www.zhihu.com/people/fangyonghao/posts" target="_blank" tabindex="0">我的文章</a>
              <!-- ngIf: !inIndex -->
              <!-- ngIf: inWrite && !hideDelete -->
              <!-- ngIf: inWrite && !hideDelete --></menu>
          </div>
        </ng-include>
        <!-- end ngIf: me.authed() -->
        <!-- ngIf: !inWrite && me.$resolved -->
        <!-- ngInclude: undefined -->
        <ng-include src="&#39;/views/navbar/write.html&#39;" ng-if="!inWrite &amp;&amp; me.$resolved" class="ng-scope">
          <div class="navbar-write-container ng-scope">
            <a href="javascript:;" ng-click="goWrite()">
              <i class="icon-ic_nav_new"></i>发布</a>
          </div>
        </ng-include>
        <!-- end ngIf: !inWrite && me.$resolved -->
        <div class="navbar-content"></div>
      </header>
    </div>
  </div>
  <div class="ui-alertbar info ng-hide" ng-show="show" ui-alertbar="" data-alert="globalAlert" ui-sticky="" data-align="bottom" data-target="#header-holder">
    <!-- ngIf: alert.type==' info' -->
    <i class="icon-ic_prompt_done ng-scope" ng-if="alert.type == &#39;info&#39;"></i>
    <!-- end ngIf: alert.type==' info' -->
    <!-- ngIf: alert.type==' error' --></div>
  <!-- Add your site or application content here -->
  <!-- ngView: -->
  <main class="main-container ng-scope" ng-view="">
    <div class="main post-write ng-scope ng-invalid ng-invalid-required ng-invalid-content-required ng-dirty ng-invalid-word-min" ng-form="postForm" ng-class="{&#39;full-screen-cover&#39;: draft.isTitleImageFullScreen}">
      <section class="receptacle">
        <div id="js-title-img" class="title-img" ui-droppable="" ng-class="{&#39;has-img&#39;: draft.titleImage}">
          <div class="upload-controls ng-scope empty" data-file-upload="fileuploadOptions" ng-class="{&#39;empty&#39;: !draft.titleImage}">
            <div class="preview-wrapper fileinput-button" ng-show="!active()">
              <!-- ngIf: draft.titleImage && draft.isTitleImageFullScreen -->
              <!-- ngIf: !draft.isTitleImageFullScreen -->
              <img ng-show="draft.titleImage" class="preview ng-scope" ng-src="" ng-if="!draft.isTitleImageFullScreen" src="images/v2-a22cd2a4d0bf11eaa7c9bef31cbc0f07_r.jpg">
              <!-- end ngIf: !draft.isTitleImageFullScreen -->
              <i class="upload-icon icon-ic_phot_camera_alt" ng-show="!draft.titleImage"></i>
              <input type="file" accept=".jpeg, .jpg, .png" name="upload_file" id="js-title-img-input" onchange="previewImage(this)"></div>
            <!-- ngIf: active() -->
            <div class="img-edit-options ng-hide" ng-show="!active() &amp;&amp; draft.titleImage">
              <!-- ngIf: draft.canTitleImageFullScreen -->
              <button class="action-button change fileinput-button" onclick="angular.element(&#39;#js-title-img-input&#39;).click()">
                <i class="icon-ic_phot_camera_alt"></i>
                <span class="hidden">更换</span></button>
              <button class="action-button delete" ui-confirm="deleteTitleImage()" confirm-message="确定删除题图？">
                <i class="icon-ic_phot_delete"></i>
                <span class="hidden">删除</span></button>
            </div>
          </div>
        </div>
        <div class="title-input-container">
          <textarea id="js-textarea" ui-textarea-autogrow="" required="" ng-model="draft.title" name="title" class="title ng-pristine ng-invalid ng-invalid-required" ui-placeholder="请输入标题" ui-tab-trigger="" autofocus="" word-min="2" word-max="50" placeholder="请输入标题" style="height: 46px;"></textarea>
        </div>

        
      </section>
      <div class="editable-container post-write">

        <textarea id="editor"></textarea>

        <!--<div id="js-entry-content" class="entry-content editable ng-invalid ng-invalid-content-required editable ng-dirty ng-invalid-word-min" ng-model="draft.content" name="content" contenteditable="true" holdertext="请输入正文" content-required="" ui-clean-paste="" ui-scraper="" ui-mention="" ui-events="{input:&#39;onContentChange($event)&#39;, focus: &#39;onContentFocus($event)&#39;}" ui-editor="" editor-toolbar="js-editor-toolbar" word-min="2" g_editable="true">
          <span class="holdertext" holdertext="1" contenteditable="false">请输入正文</span></div>
        <div class="editable-dropzone">
          <div class="hint">拖放至此处上传</div></div>
        <div class="ui-popover overlay ng-hide" ng-show="show" ng-transclude="" ui-popover="" popover-options="{container:&#39;#js-entry-content&#39;, selector: &#39;img:not([eeimg])&#39;}">
          <div class="img-edit-options ng-scope">
            <button class="action-button delete" ui-confirm="removeAnchor()" confirm-message="确定删除该图片？">
              <i class="icon-ic_phot_delete"></i>
              <span class="hidden">删除</span></button>
          </div>
        </div>-->
      </div>
    </div>
  </main>
  <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
  <script type="text/javascript" src="./plugins/simditor/scripts/module.js"></script>
  <script type="text/javascript" src="./plugins/simditor/scripts/uploader.js"></script>
  <script type="text/javascript" src="./plugins/simditor/scripts/hotkeys.js"></script>
  <script type="text/javascript" src="./plugins/simditor/scripts/simditor.js"></script>
  <script type="text/javascript">
      function previewImage(file)
    {
      if(file.files && file.files[0])
      {
        console.log(file.files[0]);
      }
    }  

  $(document).ready(function(){
    var editor = new Simditor({  
   textarea: $('#editor')  
    });
    $('.simditor').addClass("entry-content");

  });
  </script>
</body>

</html>